* {
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* Imagem banner */
.banner {
    width: 100%;
    height: 100vh;
    background-image: url(/images/Cloudy.svg);
    background-size: cover;
    background-position: center;
}

/* Navbar */
.navbar {
    width: 99.7%;
    margin: 0;
    padding: 2px;
    align-items: center;
    justify-content: space-between;
}

/*ESPAÇAMENTO*/
.navbar ul {
    margin-top: 20px;
    margin-right: 20px;
    text-align: right;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
} 

/*LETRAS NAVBAR*/
.navbar ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
} 

.navbar button {
    background-color: transparent;
    border-color: #fff;
    width: 90px;
    border-radius: 26px;

}

/*CAMPO FORMS*/
input {
    border-radius: 30px;
    border: #fff;
    text-align: left;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 12px;
    height: 70px;
    width: 500px;
    font-size: 25px;
}
 .form {
    padding: auto;
    height: 250px;
    padding: 60px;
    margin-top: -100px;
}

textarea {
    margin-top: 5px;
    width: 500px;
    height: 140px;
    margin-left: 10px;
    border-radius: 20px;
    font-size: 25px;
    resize: none;
    text-align: justify;
    border: #fff;
}

.forms {
    width: 500px;
    margin-top: 100px;
}

.forms button {
    background-color: #F8FFE5;
    border-radius: 26px;
    width: 100px;
    height: 70px;
    margin-top: 25px;
    margin-left: 20px;
    border:#F8FFE5;
    font-size: 25px;
    align-items: center;
}

.dataconsulta {
    margin-left: 15px;
    width: 1000px;
    margin-bottom: -15px;
    font-size: 25px;
}

.idade {
    margin-left: 15px;
    width: 1000px;
    margin-bottom: -15px;
    font-size: 25px;
}

.condicoes {
    width: 20px;
    height: 20px;
    margin: auto;
    margin-left: 15px;

}

.labeltermos {
    margin-left: 5px;
    text-align: justify;
}

label {
    color: #ffffff;
    margin-left: 20px;
    font-size: 25px;
    text-align: center;
}

.aviso p {
    margin-left: 1600px;
    text-align: justify;
    font-size: 25px;
    border: 2px solid #fff;
    border-radius: 26px;
    width: 20%;
    height: 400px;
    font-size: 30px;
    padding: 50px 30px 100px;
    color: #fff;
}
.vaso {
    margin-top: -200px;
    margin-left: 1620px;
}
.icon { 
    background-color: #3083dc;

}
.icons {
    width: 0px;
    height: 0px;
    margin: 0 10px;

}
.icon img {
    width: 30px;
    margin: auto;
    padding: 10px 0;
    text-align: center;
}