* {
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
/* Imagem banner */
.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(180,180,180,0.75),rgba(180,180,180,0.75)),url(images/Background.jpg);
    background-size: cover;
    background-position: center;
}
.banner img {
    height: 90px;
}

/* Navbar */
.navbar {
    width: 99.7%;
    margin: auto;
    padding: 2px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(62, 6, 78);
    box-shadow: 0 4px 2px -2px gray;
}
.navbar ul {
    margin-right: 70px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.logo {
    display: flex;
    align-items: center;
}
.logo span{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-style: italic;
    color: white;
}
input {
    border-radius: 50px;
    border: #fff;
    text-align: left;
    margin-left: 10px;
    margin-top: 20px;
    height: 50px;
    width: 500px;
    font-size: 25px;
}
section {
    padding: auto;
    height: 250px;
    padding: 30px;
}
textarea {
    margin-top: 20px;
    width: 500px;
    height: 200px;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 25px;
    resize: none;
    text-align: justify;
}
.forms {
    width: 500px;
    margin-top: 100px;
}
button {
    background-color: #fff;
    border-radius: 26px;
    width: 80px;
    margin-top: 15px;
    margin-left: 10px;
    border:#fff;
    font-size: 25px;

}
.dataconsulta {
    margin-left: 15px;
    width: 1000px;
    margin-top: 10px;
    margin-bottom: -15px;
    font-size: 25px;
}
.idade {
    margin-left: 15px;
    width: 1000px;
    margin-top: 10px;
    margin-bottom: -15px;
    font-size: 25px;
}
.condicoes {
    width: 20px;
    height: 20px;
    margin: auto;
    margin-left: 15px;

}
.labeltermos {
    margin-left: 5px;
    text-align: justify;
}