* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { /*Imagem inicial*/
    background-image: url(Background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.container {
    max-width: 1400px;
    padding: 3%;
    margin: 0 auto;
}
nav{ /*Menu*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(62, 41, 81);
}
nav span {
    font-size: 35px;
    font-style: italic;
    color: rgb(255, 255, 255);
    font-weight: bold;
    align-items: center;

}
nav ul {
    list-style: none;
}
nav ul li a{ /* Texto do menu*/
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(248, 248, 248);
    border-radius: 30px;
    transition: 0.6s;
}
nav ul li a:hover {
    background-color:rgb(255, 255, 255);
}
nav img {
    max-width: 100%;
    max-height: 100px;
}
